<div class="homebar">
  <div class="homebutton">
    <%= link_to makers_path do %>
      <i class="fa-solid fa-list-ul"></i> <p>Makers</p>
    <% end %>
  </div>
  <div class="homebutton">
    <%= link_to map_makers_path do %>
      <i class="fa-solid fa-map homeicon"></i> <p>Map</p>
    <% end %>
  </div>
  <div class="homebutton">
    <%= link_to new_maker_path do %>
      <i class="fa-solid fa-plus homeicon"></i> <p>Add</p>
    <% end %>
  </div>
  <div class="homebutton">
    <%= link_to questions_path do %>
      <i class="fa-solid fa-robot"></i><p>Chat</p>
    <% end %>
  </div>
  <div class="homebutton">
    <%= link_to karma_dashboard_path do %>
      <i class="fa-solid fa-medal"></i><p>Karma</p>
    <% end %>
  </div>
</div>
