<%# app/views/makers/_info_window.html.erb %>

<div class="iw-producer-card">
  <%= link_to maker_path(maker), style: "outline: none" do %>
    <div class="clickable-card">
      <div class="photo">
        <% if maker.photos.attached? && maker.photos.any? %>
          <%= cl_image_tag maker.photos.first.key, class: "iw-producer-card-image" %>
        <% else %>
          <%= image_tag "default-maker-placeholder.png", class: "iw-producer-card-image" %>
        <% end %>
      </div>
      <div class="iw-info-box">
        <p><strong><%= maker.name %></strong></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= maker.location %></p>
        <p class="iw-stars">
          <% if maker.reviews.present? %>
            <i class="fas fa-star"></i> <%= maker.average_rating.round(1) %> (<%= maker.reviews.count %> reviews)
          <% end %>
        </p>
        <div class="iw-tags">
        <% categories = maker.categories %>
        <% categories.delete("") %>
          <% categories.each_with_index do |category, index| %>
            <% if index <= 1 %>
              <span class="category-tag-index"><%= category %></span>
            <% elsif index == 2 %>
              <span class="category-tag-index"><%= "..." %></span>
            <% else %>
              <% "do nothing" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="iw-button-box d-flex justify-content-center">
    <button class="button-primary iw-button"
            data-action="click->map#getDirections" <%# This line connects to Stimulus, if you're using it %>
            data-map-target-lat="<%= maker.latitude %>" <%# Maker's latitude %>
            data-map-target-lng="<%= maker.longitude %>"> <%# Maker's longitude %>
      Get Directions
    </button>
  </div>
</div>
