<%# app/views/makers/_info_window.html.erb %>

<div class="producer-card info-window-producer-card">
  <%= link_to maker_path(maker) do %>
    <% if maker.photos.attached? && maker.photos.any? %>
      <%= cl_image_tag maker.photos.first.key, class: "producer-card-image" %>
    <% else %>
      <%= image_tag "default-maker-placeholder.png", class: "producer-card-image" %>
    <% end %>
    <div class="producer-card-info">
      <h3><%= maker.name %></h3>
      <div class="producer-card-details-row">
        <p class="producer-card-location"><i class="fas fa-map-marker-alt"></i> <%= maker.location %></p>
        <div class="producer-card-rating">
          <% if maker.reviews.present? %>
            <i class="fas fa-star"></i> <%= maker.average_rating %> (<%= maker.reviews.count %> reviews)
          <% else %>
            No reviews yet
          <% end %>
        </div>
      </div>
      <% if maker.categories.present? %>
        <div class="producer-card-categories">
          <% maker.categories.each do |category| %>
            <span class="category-tag-index"><%= category %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="info-window-actions">
    <button class="button-primary"
            data-action="click->map#getDirections" <%# This line connects to Stimulus, if you're using it %>
            data-map-target-lat="<%= maker.latitude %>" <%# Maker's latitude %>
            data-map-target-lng="<%= maker.longitude %>"> <%# Maker's longitude %>
      Get Directions
    </button>
  </div>
</div>
