<div class="container">

  <%= render "search_bar", search_path: makers_path %>

  <div class="search-results">
    <div class="count-results">
      <% if params[:name].present? || params[:location].present? || params[:category].present? %>
        <% if @makers.count > 1 %>
          <h3><span class="highlight"><%= @makers.count  %></span> makers found </h3>
        <% elsif @makers.count == 1   %>
          <h3><span class="highlight"><%= @makers.count  %></span> maker found </h3>
        <% else %>
          <h3>No makers found.<h3>
          <h3>Grow the community by<h3>
          <%= link_to "adding more!", new_maker_path, class: "highlight" %>
        <% end %>
      <% end %>
    </div>

    <% @makers.each do |maker| %>
      <div class = "full-card">

        <div class = "hearts">
         <% if user_signed_in? %>
          <div data-controller="favorite" data-favorite-favorited-value="<%= current_user.favorited?(maker) %>">
            <% if current_user.favorited?(maker) %>
              <%= link_to unfavorite_maker_path(maker),class: "big-heart",
                  data: { turbo_method: :post, action: "click->favorite#toggle" } do %>
                  <i class="fa-solid fa-heart fa-2xl" style="color: #d01111;" data-favorite-target="icon"></i>
            <% end %>
          <% else %>
             <%= link_to favorite_maker_path(maker),
                class: "big-heart",
                data: { turbo_method: :post, action: "click->favorite#toggle" } do %>
                  <i class="fa-solid fa-heart fa-2xl" style="color: #555555;" data-favorite-target="icon"></i>
          <% end %>
          <% end %>
        </div>
        <% else %>
            <%= link_to new_user_session_path,
              class: "big-heart",
              data: { turbo_method: :post } do %>
          <i class="fa-regular fa-heart fa-2xl" style="color: #d6d6d6;"></i>
          <% end %>
        <% end %>

        </div>

        <%= link_to maker_path(maker)  do %>
          <div class="index-maker-card">
             <% if maker.photos.attached? %>
              <%= cl_image_tag maker.photos[0].key, class: "index-maker-card-photo" %>
            <% else %>
              <%= image_tag "default-maker-placeholder.png", class: "index-maker-card-photo" %>
            <% end %>

            <div class="top-box">
              <p class="h3 mb-0"><%= maker.name %></p>
            </div>
            <div class="middle-box d-flex justify-content-between align-items-center ">
              <div class="location-box">
                <% location = maker.location %>
                <% if location.length >= 25 %>
                  <% location = location[0..25] + "..." %>
                <% end %>
                <p class="mb-0"><i class="fas fa-map-marker-alt"></i> <%= location %></p>
              </div>
              <div class="star-box d-flex justify-content-end align-items-center">
                <% if maker.reviews.any? %>
                  <%= render "shared/star_rating_overall", maker: maker %> &nbsp <%= maker.average_rating.round(1) %>
                <% end %>
              </div>
            </div>
            <div class="bottom-box-index">
              <% categories = maker.categories %>
              <% categories.delete("") %>
              <% categories.each_with_index do |category, index| %>
                <% if index <= 1 %>
                  <span class="category-tag-index"><%= category %></span>
                <% elsif index == 2 %>
                  <span class="category-tag-index"><%= "..." %></span>
                <% else %>
                  <% "do nothing" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="footer-placeholder">
    <% if @makers.count >= 1 %>
      <h3>Grow the community by<h3>
      <%= link_to "adding more makers!", new_maker_path, class: "highlight" %>
    <% end %>
  </div>

</div>
