<div class="container p-3">
  <div class="index-maker-card">
          <%= cl_image_tag @maker.photos[0].key, class: "index-maker-card-photo" %>
          <div class="top-box d-flex justify-content-between align-items-center">
            <div class="name-box">
              <p class="h4 mb-1"><%= @maker.name %>  </p>
            </div>
            <div class="star-box d-flex justify-content-end">
              <%= render "shared/star_rating_overall", maker: @maker %>
            </div>
          </div>
          <div class="middle-box">
            <p class="mb-0"><%= @maker.location %></p>
          </div>
          <div class="bottom-box">
            <% @maker.categories.each do |category| %>
              <span class="category-tag"><%= category.capitalize %></span>
            <% end %>
          </div>
        </div>

  <br>
  <div class="<div class="top-box d-flex justify-content-between align-items-center>

      <h4>  <strong> Reviews <strong> </h4>
      <h4><strong><%= render "shared/star_rating_overall", maker: @maker %><strong>  </p>
        <br>
        <p> Freshness Rating <%= render "shared/star_rating_freshness", maker: @maker %></p>
        <p> Service Rating <%= render "shared/star_rating_service", maker: @maker %></p>
        <p> Product Range Rating <%= render "shared/star_rating_product_range", maker: @maker %></p>
        <p> Accuracy Rating <%= render "shared/star_rating_accuracy", maker: @maker %></p>

  </div>


<br>
<div class = "container">
    <%= link_to "Share", "#", class:"button-primary" %>
</div>

  <br>
    <div class="container">
      <div class="<div class="top-box d-flex justify-content-between align-items-center>

        <br>

        <h3> Reviews </h3>

        <h4>  <strong> <%= @maker.name %>'s Reviews  <strong> </h4>
            <br>
        <%if @reviews %>
          <% @reviews.each do |review| %>
            <div class = "review-card border rounded p-3 mb-3">


              <p>
                <strong></strong>
                <%=render "shared/star_rating_overall", maker: review.maker%>
                <% if review.comment %>

                <p>  <em>"<%= review.comment %>"</em> </p>
                   <% end %>

                <p><strong><strong> <%= review.user.first_name %></p>
              </p>
            </div>
          <% end %>
    <% else %>

    <p> No reviews yet for this maker.</p>
    <% end %>

      </div>
    </div>









<br>
<br>

<%# DONT TOUCH !!! %>
<div class="container">
  <h1><span class="highlight"><%= @maker.name %></span>'s Profile</h1>
  <br>
  <br>
  <h2>Add a review!</h2>
  <button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Submit
  </button>
  <%# <%= link_to "Submit", new_maker_review_path(@maker), class:"button-primary" %>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Review <%= @maker.name %>!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "reviews/new_form" %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> %>
    </div>
  </div>
</div>
