<div class="container p-3 mb-5">
  <div class="secondary_header_maker_show d-flex justify-content-between align-items-center mb-3">
  <!-- Maker Name -->
  <div class="maker-name">
    <h2 class="mb-0"><%= @maker.name %></h2>
  </div>

  <!-- Heart and Share -->
  <div class="header-icons d-flex align-items-center">
    <!-- Heart -->
    <% if user_signed_in? %>
      <% if current_user.favorited?(@maker) %>
        <%= link_to unfavorite_maker_path(@maker), data: { turbo_method: :post }, class: "ms-3" do %>
          <i class="fa-solid fa-heart fa-xl" style="color: #d01111;"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_maker_path(@maker), data: { turbo_method: :post }, class: "ms-3" do %>
          <i class="fa-solid fa-heart fa-xl" style="color: #d6d6d6;"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "ms-3" do %>
        <i class="fa-solid fa-heart fa-xl" style="color: #d6d6d6;"></i>
      <% end %>
    <% end %>

    <!-- Share -->
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="ms-3">
      <i class="fa-solid fa-link fa-xl" style="color: #6c757d;"></i>
    </a>
  </div>
</div>


  <div class="show-maker-card">
    <div class="card-image-wrapper">
      <%= cl_image_tag @maker.photos[0].key, class: "card-image-top" %>
    </div>

    <div class="top-box d-flex justify-content-between align-items-center">
      <div class="name-box">
        <p class="h4 mb-1"><%= @maker.name %></p>
        </div>
      </div>

    <div class="middle-box d-flex justify-content-between align-items-center">
      <p class="mb-0 location-text"><%= @maker.location %> </p>
      <div class ="rating-box d-flex align-items-center">
        <%= render "shared/star_rating_overall", maker: @maker %>
        <span class ="ms-1"><%=@maker.average_rating%></span>
      </div>
    </div>

    <div class="bottom-box">
      <% @maker.categories.each do |category| %>
        <span class="show-category-tag"><%= category.capitalize %></span>
      <% end %>
    </div>
  </div>

  <div class="mapbox-maker mt-4">
    <div class="mapbox-container"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <%# <%= render "search_bar", search_path: map_makers_path %>

    <div class="fixed-bottom float-body d-flex justify-content-around align-items-center">
      <%= link_to new_maker_path, class: "btn button-add" do %>
        <i class="fa-solid fa-plus"></i> Add
      <% end %>
      <%= link_to makers_path, class: "btn button-map" do %>
        <i class="fa-solid fa-list"></i> List
      <% end %>
    </div>
  </div>

  <br>
  <div class="master_review_class">
    <h4>  <strong> Ratings </strong> </h4>
    <h4><span class = "review-overall-stars"> <strong><%= render "shared/star_rating_overall", maker: @maker %></strong><span></h4></p>
    <br>
    <p> Freshness  <%= render "shared/star_rating_freshness", maker: @maker %> <%= @maker.average_star_rating_freshness %></p>
    <p> Service  <%= render "shared/star_rating_service", maker: @maker %> <%=@maker.average_star_rating_service %></p>
    <p> Product Range  <%= render "shared/star_rating_product_range", maker: @maker %><%=@maker.average_star_rating_product_range %></p>
    <p> Accuracy <%= render "shared/star_rating_accuracy", maker: @maker %> <%=@maker.average_star_rating_accuracy%></p>
  </div>

  <br>
  <!-- Button trigger modal -->
  <button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Share
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-none">
          <h2 class="modal-title" id="exampleModalLabel">Share...</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-footer">

        <a  href="https://wa.me/?text=<%= ERB::Util.url_encode(request.original_url)%>" target="_blank"><i class="fa-brands fa-whatsapp fa-5x" style="color: #25D366;"></i> </a>
      <a  href="https://twitter.com/intent/tweet?url=<%= ERB::Util.url_encode(request.original_url) %>" target="_blank"><i class="fa-brands fa-x-twitter fa-5x" style="color: #1DA1F2;"></i> </a>
      <a  href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode(request.original_url) %>" target="_blank"><i class="fa-brands fa-facebook fa-5x" style="color: #1877F2;"> </i></a>
        <a href = "#"  onclick ="copyLink()"><i class="fa-solid fa-link fa-5x" style="color: #6c757d;"></i> </a>
      <script>
        function copyLink(){
          const url = window.location.href;
          navigator.clipboard.writeText(url)
          alert("Link copied!")
        }
        </script>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="">
    <br>
    <h3> Reviews </h3>

    <h5>  <strong> What people are saying about <span class="maker-highlight"><%= @maker.name %></span></strong></h5>
    <br>
    <%if @reviews.any? %>

      <% @reviews.each do |review| %>
        <div class = "review-card border rounded p-3 mb-3">
          <%= render "shared/star_rating_overall", maker: review.maker%>

          <% if review.comment.present?%>
            <p class="review-quote"><em>"<%= review.comment %>" </em></p>
            <% end %>

            <p class ="review-footer">- <cite><%= review.user.first_name%></cite></p>

        </div>
      <% end %>
    <% else %>
      <p> No reviews yet for this maker.</p>
    <% end %>
  </div>

  <br>

  <%# <div class="review_box mb-5"> %>
  <br>
  <h2 class="text-center">Add a review!</h2>

  <button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#addReview">
    Submit
  </button>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<%# </div> %>
<%# DONT TOUCH !!! %>
<div class="modal fade" id="addReview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Review <%= @maker.name %>!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "reviews/new_form" %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> %>
    </div>
  </div>
</div>
