<div class="container p-3">
  <div class="secondary_header_maker_show d-flex justify-content-between align-items-center my-3 p-0">
  <!-- Maker Name -->
    <div class="maker-name">
      <h2 class="mb-0"><%= @maker.name %></h2>
    </div>

    <!-- Heart and Share -->
    <div class="header-icons d-flex align-items-center mb-0">
      <!-- Heart -->
      <% if user_signed_in? %>
        <% if current_user.favorited?(@maker) %>
          <%= link_to unfavorite_maker_path(@maker), data: { turbo_method: :post }, class: "ms-3" do %>
            <i class="fa-solid fa-heart fa-xl" style="color: #d01111;"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_maker_path(@maker), data: { turbo_method: :post }, class: "ms-3" do %>
            <i class="fa-solid fa-heart fa-xl" style="color: #d6d6d6;"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "ms-3" do %>
          <i class="fa-solid fa-heart fa-xl" style="color: #d6d6d6;"></i>
        <% end %>
      <% end %>

      <!-- Share -->
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="ms-3">
        <i class="fa-solid fa-share-from-square" style="color: #2D4E34;"></i>
      </a>
    </div>
  </div>
</div>

<div>
  <%= cl_image_tag @maker.photos[0].key, class: "maker-image" %>
</div>

<div class="container p-3">
  <div class="show-maker-card">
    <div class="middle-box d-flex justify-content-between align-items-center mb-2">
      <p class="p-0 mb-0 location-text"><i class="fa-solid fa-location-dot" style="color: #2D4E34;"></i> <%= @maker.location %> </p>
      <div class ="rating-box d-flex align-items-center">
        <% if @maker.reviews.any? %>
          <%= render "shared/star_rating_overall", maker: @maker %>
        <% end %>
        <span class ="average-rating ms-1"><%=@maker.average_rating.round(1)%></span>
      </div>
    </div>
    <div class="bottom-box p-2 px-0">
      <% categories = @maker.categories %>
      <% categories.delete("") %>
      <% categories.each do |category| %>
        <span class="show-category-tag"><%= category.capitalize %></span>
      <% end %>
    </div>
  </div>
  <div>
    <h4 class="my-2 p-0">Description:</h4>
    <p class="maker-description"><%= @maker.description %></p>
  </div>
</div>

<div class="mapbox-maker mt-0">
  <div class="mapbox-container mt-0"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
    <%# <%= render "search_bar", search_path: map_makers_path %>

<div class="container p-3 mb-5">
<button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Share this profile
</button>
  <br>
  <br>
  <br>
  <div class="master_review_class">
    <% if @maker.reviews.any? %>
      <div class="d-flex align-items-center">
        <h3>Rating</h3>
        <h4><span class="review-overall-stars"> <strong><%= render "shared/star_rating_overall", maker: @maker %></strong><span></h4>
      </div>
      <div class="d-flex justify-content-between mb-1 mb-0">
        <p class="">Freshness</p>
        <p> <%= @maker.average_star_rating_freshness %></p>
      </div>
      <div class="progress mt-0">
      <% freshness_pcnt = @maker.average_star_rating_freshness * 20 %>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:<%= freshness_pcnt %>%" aria-valuenow="<%= @maker.average_star_rating_freshness %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <p class="">Service</p>
        <p> <%= @maker.average_star_rating_service %></p>
      </div>
      <div class="progress mt-0">
      <% service_pcnt = @maker.average_star_rating_service * 20 %>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:<%= service_pcnt %>%" aria-valuenow="<%= @maker.average_star_rating_service %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <p class="">Product Range</p>
        <p> <%= @maker.average_star_rating_product_range %></p>
      </div>
      <div class="progress mt-0">
      <% service_pcnt = @maker.average_star_rating_product_range * 20 %>
        <div class="progress-bar bg-secondary" role="progressbar" style="width:<%= service_pcnt %>%" aria-valuenow="<%= @maker.average_star_rating_product_range %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <%  end %>
  </div>

  <br>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-none">
          <h3 class="modal-title" id="exampleModalLabel">Share...</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer justify-content-around">
          <a  href="https://wa.me/?text=<%= ERB::Util.url_encode(request.original_url)%>" target="_blank"><i class="fa-brands fa-whatsapp fa-3x" style="color: #25D366;"></i> </a>
          <a  href="https://twitter.com/intent/tweet?url=<%= ERB::Util.url_encode(request.original_url) %>" target="_blank"><i class="fa-brands fa-x-twitter fa-3x" style="color: #1DA1F2;"></i> </a>
          <a  href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode(request.original_url) %>" target="_blank"><i class="fa-brands fa-facebook fa-3x" style="color: #1877F2;"> </i></a>
          <a href = "#"  onclick ="copyLink()"><i class="fa-solid fa-link fa-3x" style="color: #6c757d;"></i> </a>
        <script>
          function copyLink(){
            const url = window.location.href;
            navigator.clipboard.writeText(url)
            alert("Link copied!")
          }
        </script>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <br>
    <h3> Reviews </h3>

    <h5>  <strong> What people are saying about <span class="maker-highlight"><%= @maker.name %></span></strong></h5>
    <br>
    <%if @maker.reviews.any? %>

      <% @maker.reviews.order(created_at: :desc).first(3).each do |review| %>
        <div class = "review-card border rounded p-3 mb-3">
          <%= render "shared/star_rating_overall", maker: review.maker%>

          <% if review.comment.present?%>
            <p class="review-quote"><em>"<%= review.comment %>" </em></p>
            <% end %>

            <p class ="review-footer">- <cite><%= review.user.first_name%></cite></p>

        </div>
      <% end %>
    <% else %>
      <p> No reviews yet for this maker.</p>
    <% end %>
  </div>

  <br>

  <%# <div class="review_box mb-5"> %>
  <br>
  <h3>How was <%= @maker.name %>?</h3>
  <br>
    <% if params[:auto_click] == "true" %>
      <button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#addReview" data-controller="auto-click">
        Leave your own review!
      </button>
    <% else %>
      <button type="button" class="button-primary" data-bs-toggle="modal" data-bs-target="#addReview">
        Leave your own review!
      </button>
    <% end %>
  <%# <%= link_to "Submit", new_maker_review_path(@maker), class:"button-primary" %>
</div>
<br>
<%# </div> %>
<%# DONT TOUCH !!! %>
<div class="modal fade" id="addReview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <% if @maker.reviews.any?%>
        <h5 class="modal-title" id="staticBackdropLabel">Review <%= @maker.name %>!</h5>
        <%else%>
        <h5 class="modal-title" id="staticBackdropLabel">Leave your first Review to <%= @maker.name %>!</h5>
        <%end%>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "reviews/new_form" %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> %>
    </div>
  </div>
</div>
