<div class="review-form">
          <div data-controller="wizard" class="col-xs-4 form">
            <%= simple_form_for [@maker, @review] do |f| %>
              <div data-wizard-target="step">
                <%= f.input :overall_rating, collection: (1..5).to_a, label: "Overall Experience", input_html: {data: {controller: "star-rating"}} %>
                <div class="mt-4 flex justify-between">
                    <%= button_tag "Next", type: "button",
                      data: {
                        action: "click->wizard#goToNext",
                        next_step: "1"
                      },
                      class: "button-primary review-btn-alone" %>
                </div>
              </div>
              <div data-wizard-target="step" class="d-none step-form">
                <%= f.input :freshness_rating, collection: (1..5).to_a, label: "Products' freshness", input_html: {data: {controller: "star-rating"}} %>
                <div class="mt-4 d-flex justify-content-around">
                    <%= button_tag "Previous", type: "button",
                      data: {
                        action: "click->wizard#goToPrevious",
                        previous_step: "1"
                      },
                      class: "button-secondary review-btn" %>

                    <%= button_tag "Next", type: "button",
                      data: {
                        action: "click->wizard#goToNext",
                        next_step: "2"
                      },
                      class: "button-primary review-btn" %>
                </div>
              </div>
              <div data-wizard-target="step" class="d-none step-form">
              <%= f.input :service_rating, collection: (1..5).to_a, label: "Friendliness", input_html: {data: {controller: "star-rating"}} %>
                <div class="mt-4 d-flex justify-content-around">
                    <%= button_tag "Previous", type: "button",
                      data: {
                        action: "click->wizard#goToPrevious",
                        previous_step: "2"
                      },
                      class: "button-secondary review-btn" %>

                    <%= button_tag "Next", type: "button",
                      data: {
                        action: "click->wizard#goToNext",
                        next_step: "3"
                      },
                      class: "button-primary review-btn" %>
                </div>
              </div>
              <div data-wizard-target="step" class="d-none step-form">
                <%= f.input :product_range_rating, collection: (1..5).to_a, label: "Product variety?", input_html: {data: {controller: "star-rating"}} %>
                <div class="mt-4 d-flex justify-content-around">
                    <%= button_tag "Previous", type: "button",
                      data: {
                        action: "click->wizard#goToPrevious",
                        previous_step: "3"
                      },
                      class: "button-secondary review-btn" %>

                    <%= button_tag "Next", type: "button",
                      data: {
                        action: "click->wizard#goToNext",
                        next_step: "4"
                      },
                      class: "button-primary review-btn" %>
                </div>
              </div>
              <div data-wizard-target="step" class="d-none step-form">
                <%= f.input :products, label: "What product did you buy?", collection: @products, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}}, value_method: :name %>
                <div class="mt-4 d-flex justify-content-around">
                      <%= button_tag "Previous", type: "button",
                        data: {
                          action: "click->wizard#goToPrevious",
                          previous_step: "4"
                        },
                        class: "button-secondary review-btn" %>

                      <%= button_tag "Next", type: "button",
                        data: {
                          action: "click->wizard#goToNext",
                          next_step: "5"
                        },
                        class: "button-primary review-btn" %>
                </div>
              </div>
              <div data-wizard-target="step" class="d-none step-form">
                <%= f.input :comment, label: "Add a general comment" %>
                  <div class="mt-4 d-flex justify-content-around">
                      <%= button_tag "Previous", type: "button",
                        data: {
                          action: "click->wizard#goToPrevious",
                          previous_step: "5"
                        },
                        class: "button-secondary review-btn" %>
                  <%= f.submit "Publish", class:"button-primary review-btn" %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
