<div class="container text-center">
  <h2 class="mt-2">Add a review about <span class="highlight"><%= @maker.name %></span></h2>
</div>
<br>
<div class="container text-center bg-secondary py-3 w-100">
  <div class="col-xs-4 form">
    <%= simple_form_for [@maker, @review] do |f| %>
      <%= f.input :overall_rating, collection: (1..5).to_a, label: "Overall Experience", input_html: {data: {controller: "star-rating"}} %>
      <br>
      <%= f.input :freshness_rating, collection: (1..5).to_a, label: "Products' freshness", input_html: {data: {controller: "star-rating"}} %>
      <br>
      <%= f.input :service_rating, collection: (1..5).to_a, label: "Friendliness", input_html: {data: {controller: "star-rating"}} %>
      <br>
      <%= f.input :product_range_rating, collection: (1..5).to_a, label: "Product variety?", input_html: {data: {controller: "star-rating"}} %>
      <br>
      <%= f.input :accuracy_rating, collection: (1..5).to_a, label: "Did the profile match what you experienced?", input_html: {data: {controller: "star-rating"}} %>
      <br>
      <%#= f.input :products,
                  label: "What product did you buy?",
                  collection: @products,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :products, label: "What product did you buy?", collection: @products, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}}, value_method: :name %>
      <br>
      <%= f.input :comment, label: "Add a general comment" %>
      <br>
      <%= f.submit "Publish your review", class:"button-primary" %>
    <% end %>
  </div>
</div>
